
/* <======< Home Carousel >======> */
.carousel {
  position: relative;
}
.shop-link {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.shop-link a {
  text-decoration: none;
  color: #2c2c2c;
  padding: 11px 30px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
}
/* <===========================> */

/* <======< Categories >======> */
.clothing-categories {
  margin: 60px auto;
  width: 80%;
}
.card_content {
  margin: 1.2rem 3.5rem 0;
}
.title_h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #4f4f4f;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}
.category_link {
  text-align: center;
  background-color: transparent;
  display: block;
  margin-top: 9px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 0.4px;
  letter-spacing: 0.02em;
  transition: 0.1s all;
}
.category_link:hover {
  font-weight: 700;
  color: #000;
}
/* <===========================> */

/* <======< Newsletter & Lookbook >======> */
.newsletter {
  margin: 100px auto;
  width: 85%;
}
.newsletter__left img {
  width: 100%;
  border-right: 1px solid #ffffff;
}
.newsletter__left {
  position: relative;
}
.lookbook__imgOverlay {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
}
.lookbook__textWrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.lookbook__text {
  font-size: 45px;
  font-weight: 700;
}
.lookbook__link {
  text-underline-offset: 2px;
}
.newsletter__right {
  background-color: #e8e9da;
  position: relative;
}
.newsletter__textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.newsletter__textWrapper h2 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  color: #090907;
  line-height: 23.95px;
}
.newsletter__textWrapper p {
  color: #090907bd;
  line-height: 2rem;
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}
.email__input {
  padding: 0 5rem 0 1rem;
  border: none;
  box-shadow: none;
  background: white;
  height: 2.5rem;
}
.email__input:focus {
  border: none;
  outline: none;
}
.email__submitBtn button {
  padding: 0 15px;
  background: black;
  color: #fff;
  height: 2.5rem;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
/* <===========================> */

/* <======< Footer >======> */
.Footer {
  background: #f6f6f6;
}
.Footer__content {
  padding: 3rem 5rem;
  margin: auto;
}
.Foooter__menuList {
  max-width: 1000px;
  margin: 0 auto !important;
}
.Foooter__menuList li {
  margin-right: 2rem;
  position: relative;
}
.Footer__menuLink {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 13.5px;
  color: #8b8b8b;
  text-decoration: none;
  letter-spacing: 0.02em;
  text-underline-offset: 2px;
}
.Footer__menuLink:hover {
  text-decoration: underline;
  color: #000000;
}
.Foooter__menuList li:not(:last-child):after {
  position: absolute;
  content: "";
  border-right: 2px solid #8b8b8b85;
  right: -17px;
  width: 2px;
  height: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.socialIcon__item {
  width: 1.5rem;
}
.socialItem_Link {
  padding: 1rem;
}
.socialItem_Link:hover .icon {
  transform: scale(1.07);
}
/* <===========================> */
