/* <======< Home Carousel >======> */
.carousel {
  position: relative;
}
.shop-link {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.shop-link a {
  text-decoration: none;
  color: #2c2c2c;
  padding: 11px 30px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
}
/* <===========================> */

/* <======< Categories >======> */
.cloting-categories {
  margin: 60px auto;
  width: 80%;
}
.card_content {
  padding: 1.2rem 1.5rem 3.5rem;
}
.title_h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #4f4f4f;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}
.category_link {
  text-align: center;
  background-color: transparent;
  display: block;
  margin-top: 9px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 0.4px;
  letter-spacing: 0.02em;
  transition: 0.1s all;
}
.category_link:hover {
  font-weight: 700;
  color: #000;
}
/* <===========================> */
